
# Access dashDB and explore the data with Python

This notebook shows how to access a dashDB data warehouse or DB2 database when using Python. The examples use a dashDB warehouse, but the instructions apply to both dashDB and DB2.

<!--
![dashDB Logo](https://ibm.box.com/shared/static/42yt39czuksqdi278xpy96txtlw3lfmb.png)
![Python Logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM-flattened.png)
-->

## Table of contents

1. [Setup](#Setup) 
1. [Import the *ibmdbpy* Python library](#Import-the-ibmdbpy-Python-library)
1. [Insert the database connection credentials](#Insert-the-database-connection-credentials)
1. [Create the database connection](#Create-the-database-connection)
1. [Use dataframe to read and manipulate tables](#Use-dataframe-to-read-and-manipulate-tables)
1. [Use SQL](#Use-SQL)
1. [Explore the trafficking data](#Explore-the-trafficking-data)
1. [Close the database connection](#Close-the-database-connection)
1. [Summary](#Summary)


## Setup

Before beginning you will need a *dashDB* instance. dashDB is a fully managed cloud data warehouse, purpose-built for analytics. It offers massively parallel processing (MPP) scale and compatibility with a wide range of business intelligence (BI) tools.  

[Try dashDB free of charge on IBM Bluemix.](https://console.ng.bluemix.net/catalog/services/dashdb)

<a class="ibm-tooltip" href="https://console.ng.bluemix.net/catalog/services/dashdb" target="_blank" title="" id="ibm-tooltip-0">
<img alt="IBM Bluemix.Get started now" height="193" width="153" src="https://ibm.box.com/shared/static/42yt39czuksqdi278xpy96txtlw3lfmb.png" >
</a>


## Import the *ibmdbpy* Python library

Python support for dashDB and DB2 is provided by the [ibmdbpy Python library](https://pypi.python.org/pypi/ibmdbpy). Connecting to dashDB or DB2 is also enabled by a DB2 driver, libdb2.so.

The JDBC Connection is based on a Java virtual machine. From the ibmdbpy library you can use JDBC to connect to a remote dashDB/DB2 instance. To be able to use JDBC to connect, we need to import the *JayDeBeApi* package.

To run a cell, click on the cell and click the run button in the toolbar or press __SHIFT-ENTER__.

Run the following commands to install and load the JayDeBeApi package and the ibmdbpy library into your notebook:

In [ ]:
!pip install jaydebeapi --user  
!pip install ibmdbpy --user

In [1]:
import jaydebeapi
from ibmdbpy import IdaDataBase
from ibmdbpy import IdaDataFrame


## Insert the database connection credentials

Click on the cell below, then on the notebook toolbar, click the box of 1's and 0's, find your database connection and click the __Insert to code__ link under the connection name to have a `credentials_1` dictionary added to the notebook.

Connecting to dashDB requires the following information which are provided by the credentials dictionary inserted:
* Database name 
* Host DNS name or IP address 
* Host port
* Connection protocol
* User ID
* User password

The information `credentials_1` will be used to build a connection string in a subsequent step.

## Create the database connection

The following code snippet creates a connection string `connection_string`
and uses the `connection_string` to create a database connection object:

In [3]:
# The code was removed by DSX for sharing.

Row(DAY_KEY=20111130, ORGANIZATION_KEY=11103, POSITION_KEY=43637, EMPLOYEE_KEY=4010, EXPENSE_TYPE_KEY=2104, ACCOUNT_KEY=8050, EXPENSE_UNIT_QUANTITY=15.0, EXPENSE_TOTAL=Decimal('208.33'))

In [2]:
# The code was removed by DSX for sharing.

[Row(STATE=1, COUNTY=73, MONTH=1, DAY=2, HOUR=23, MINUTE=15, VE_TOTAL=1, PERSONS=1, PEDS=0, NHS=0, ROAD_FNC=14, ROUTE=4, SP_JUR=0, HARM_EV=42, MAN_COLL=0, REL_JUNC=1, REL_ROAD=4, TRAF_FLO=1, NO_LANES=2, SP_LIMIT=40, ALIGNMNT=2, PROFILE=1, PAVE_TYP=2, SUR_COND=1, TRA_CONT=0, T_CONT_F=0, HIT_RUN=0, LGT_COND=2, WEATHER1=1, WEATHER2=0, C_M_ZONE=0, NOT_HOUR=23, NOT_MIN=16, ARR_HOUR=23, ARR_MIN=20, HOSP_HR=0, HOSP_MN=0, SCH_BUS=0, CF1=0, CF2=0, CF3=0, FATALS=1, DAY_WEEK=3, DRUNK_DR=0, ST_CASE=10001, CITY=0, MILEPT=0.0, YEAR=2007, TWAY_ID=u'1493', TWAY_ID2=u'00000000', RAIL=u'0000000', LATITUDE=33272102, LONGITUD=87010454, VE_FORMS=1, WEATHER=1),
 Row(STATE=1, COUNTY=19, MONTH=1, DAY=30, HOUR=13, MINUTE=5, VE_TOTAL=3, PERSONS=4, PEDS=0, NHS=0, ROAD_FNC=3, ROUTE=3, SP_JUR=0, HARM_EV=12, MAN_COLL=5, REL_JUNC=2, REL_ROAD=1, TRAF_FLO=1, NO_LANES=2, SP_LIMIT=40, ALIGNMNT=1, PROFILE=1, PAVE_TYP=2, SUR_COND=1, TRA_CONT=20, T_CONT_F=3, HIT_RUN=0, LGT_COND=1, WEATHER1=1, WEATHER2=0, C_M_ZONE=0, NOT_HOUR=13, NOT_MIN=10, ARR_HOUR=13, ARR_MIN=11, HOSP_HR=99, HOSP_MN=99, SCH_BUS=0, CF1=0, CF2=0, CF3=0, FATALS=2, DAY_WEEK=3, DRUNK_DR=0, ST_CASE=10002, CITY=630, MILEPT=0.0, YEAR=2007, TWAY_ID=u'SR-68', TWAY_ID2=u'270', RAIL=u'0000000', LATITUDE=34093815, LONGITUD=85404107, VE_FORMS=3, WEATHER=1),
 Row(STATE=1, COUNTY=9, MONTH=1, DAY=14, HOUR=12, MINUTE=13, VE_TOTAL=2, PERSONS=5, PEDS=0, NHS=0, ROAD_FNC=3, ROUTE=2, SP_JUR=0, HARM_EV=12, MAN_COLL=7, REL_JUNC=1, REL_ROAD=1, TRAF_FLO=1, NO_LANES=3, SP_LIMIT=55, ALIGNMNT=1, PROFILE=2, PAVE_TYP=2, SUR_COND=1, TRA_CONT=0, T_CONT_F=0, HIT_RUN=1, LGT_COND=1, WEATHER1=1, WEATHER2=0, C_M_ZONE=0, NOT_HOUR=12, NOT_MIN=16, ARR_HOUR=12, ARR_MIN=18, HOSP_HR=99, HOSP_MN=99, SCH_BUS=0, CF1=0, CF2=0, CF3=0, FATALS=1, DAY_WEEK=1, DRUNK_DR=0, ST_CASE=10003, CITY=2330, MILEPT=0.0, YEAR=2007, TWAY_ID=u'US-SR53', TWAY_ID2=u'00000000', RAIL=u'0000000', LATITUDE=33583258, LONGITUD=86294685, VE_FORMS=2, WEATHER=1),
 Row(STATE=1, COUNTY=15, MONTH=1, DAY=1, HOUR=15, MINUTE=0, VE_TOTAL=2, PERSONS=2, PEDS=0, NHS=1, ROAD_FNC=2, ROUTE=2, SP_JUR=0, HARM_EV=12, MAN_COLL=4, REL_JUNC=2, REL_ROAD=1, TRAF_FLO=2, NO_LANES=2, SP_LIMIT=65, ALIGNMNT=1, PROFILE=1, PAVE_TYP=2, SUR_COND=1, TRA_CONT=20, T_CONT_F=3, HIT_RUN=0, LGT_COND=1, WEATHER1=1, WEATHER2=0, C_M_ZONE=0, NOT_HOUR=99, NOT_MIN=99, ARR_HOUR=15, ARR_MIN=5, HOSP_HR=0, HOSP_MN=0, SCH_BUS=0, CF1=0, CF2=0, CF3=0, FATALS=1, DAY_WEEK=2, DRUNK_DR=0, ST_CASE=10004, CITY=0, MILEPT=2468.0, YEAR=2007, TWAY_ID=u'US-SR1', TWAY_ID2=u'7260', RAIL=u'0000000', LATITUDE=33511173, LONGITUD=85545624, VE_FORMS=2, WEATHER=1),
 Row(STATE=1, COUNTY=51, MONTH=1, DAY=6, HOUR=19, MINUTE=35, VE_TOTAL=2, PERSONS=5, PEDS=0, NHS=0, ROAD_FNC=14, ROUTE=3, SP_JUR=0, HARM_EV=12, MAN_COLL=5, REL_JUNC=11, REL_ROAD=1, TRAF_FLO=2, NO_LANES=2, SP_LIMIT=50, ALIGNMNT=1, PROFILE=1, PAVE_TYP=2, SUR_COND=1, TRA_CONT=3, T_CONT_F=3, HIT_RUN=0, LGT_COND=3, WEATHER1=1, WEATHER2=0, C_M_ZONE=0, NOT_HOUR=19, NOT_MIN=35, ARR_HOUR=19, ARR_MIN=41, HOSP_HR=99, HOSP_MN=99, SCH_BUS=0, CF1=0, CF2=0, CF3=0, FATALS=1, DAY_WEEK=7, DRUNK_DR=0, ST_CASE=10005, CITY=2063, MILEPT=0.0, YEAR=2007, TWAY_ID=u'SR-14', TWAY_ID2=u'I-65', RAIL=u'0000000', LATITUDE=32291980, LONGITUD=86243217, VE_FORMS=2, WEATHER=1)]

In [1]:
# The code was removed by DSX for sharing.

,MONTH_KEY,ORGANIZATION_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_PLAN_TOTAL
0,201001,11105,2104,601500,1000.0
1,201001,11102,2104,601500,300.0
2,201001,11101,2104,601500,1000.0
3,201001,11104,2104,601500,400.0
4,201001,11103,2104,601500,1000.0

Use IdaDataFrame.tail to get the last n records of your data set (default 5):

In [2]:
idadf.tail(10)

NameError: name 'idadf' is not defined

__Note:__ Because dashDB operates on a distributed system, the order of rows using IdaDataFrame.head and IdaDataFrame.tail is not guaranteed unless the table is sorted (using an ‘ORDER BY’ clause) or a column is declared as index for the IdaDataFrame (parameter/attribute indexer).

IdaDataFrame also implements most attributes that are available in a pandas DataFrame, here is an example of getting the _shape_ of the data frame (rows, columns):

In [ ]:
idadf.shape

In [ ]:
idadf.columns

Several standard statistics functions from the pandas interface are also available for IdaDataFrame.  You can use the __TAB__ key after the `.` to see the methods and attributes available in an object in a pulldown menu. 

For example, let us calculate the covariance matrix for the data set by using the `cov` method for the IdaDataFrame instance:

In [ ]:
# idadf.[Press TAB HERE]

idadf.cov()

__Note__: It is possible to subset the rows of an IdaDataFrame by accessing the IdaDataFrame with a slice object. You can also use the IdaDataFrame.loc attribute, which contains an ibmdbpy.Loc object. However, the row selection might be inaccurate if the current IdaDataFrame is not sorted or does not contain an indexer. This is due to the fact that dashDB stores the data across several nodes if available. Moreover, because dashDB is a column oriented database, row numbers are undefined:

## Use SQL
We can also use SQL to get the top 10.

In [ ]:
top_10_df = idadf.ida_query('SELECT * FROM GOSALESDW.EMP_EXPENSE_FACT LIMIT 10')
top_10_df

Find the top 10 employees (by id) by the number of transactions in the `GOSALESDW.EMP_EXPENSE_FACT` table.

In [ ]:
idadf.ida_query('SELECT EMPLOYEE_KEY, COUNT(*) AS COUNT FROM GOSALESDW.EMP_EXPENSE_FACT GROUP BY EMPLOYEE_KEY ORDER BY COUNT DESC LIMIT 10')

## Close the database connection

To ensure expected behaviors, IdaDataBase instances need to be closed. Closing the *IdaDataBase* is equivalent to closing the connection: once the connection is closed, it is no longer possible to use the *IdaDataBase* instance and any *IdaDataFrame* instances that were opened on this connection.

In [ ]:
idadb_f43b58aca62f471ea80cac6909e64578.close()

## Summary

This notebook demonstrated how to establish a JDBC connection to a dashDB (or DB2) database from Python, work with data frames and explore the data using SQL and data frame object attributes and methods.

## Take it farther
### Free courses on <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu/" rel="noopener noreferrer" target="_blank">Big Data University</a>: <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu" rel="noopener noreferrer" target="_blank"><img src = "https://ibm.box.com/shared/static/xomeu7dacwufkoawbg3owc8wzuezltn6.png" width=600px> </a>